/* Page title spacing change */

.header-title > h3 {
	margin: auto;
}

/* Logo BG - Pointless */
.nav-header {
	background-image: url(/header-profile.png) !important;
}

/* Add new template button */

.dropdown > .dropdown-toggle > i {
	color: #ffffff;
}

.dropdown > .dropdown-toggle {
	padding: 5px 10px;
	min-height: auto;
}

.dropdown > .dropdown-toggle > .dropdown-icon {
	margin-right: 0;
}

.dropdown > .dropdown-toggle:hover {
	background-color: #0769ab;
	border-color: #0769ab;
	color: #ffffff;
}

.nav.navbar-top-links > .dropdown > a:hover,
.nav.navbar-top-links > .dropdown > a:focus {
	background-color: #0769ab;
}

.dropdown > .dropdown-menu {
	margin-top: 5px !important;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 800px;
	position: absolute;
	left: -135px;
	z-index: 5000 !important;
}
.multi-column-dropdown > li > a {
	padding: 7px 0px;
	font-weight: 300;
	font-size: 13px;
}
.multi-column-dropdown {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.multi-column-dropdown > li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
	font-size: 12px;
}
.multi-column-dropdown > li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f3f3f4;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.dropdown-menu > .arrow {
	top: -11px;
	left: 150px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, .25);
}

.dropdown-menu > .arrow,
.dropdown-menu > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.dropdown-menu > .arrow:after {
	content: "";
	border-width: 10px;
}

.dropdown-menu > .arrow:after {
	top: 1px;
	margin-left: -10px;
	content: " ";
	border-top-width: 0;
	border-bottom-color: #fff;
}

.multi-column-dropdown > li > a {
	font-size: 14px !important;
	padding: 8px 30px !important;
}

.multi-column-dropdown > li:last-child {
	margin-bottom: 30px !important;
}

.dropdown h4 {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 0 30px;
	text-transform: uppercase;
}
