.override-switch {
	display: none;
}

.override-switch + label {
	display: block;
	height: calc(1.5em + 0.75rem + 2px);
	margin-bottom: 0;
	padding: 10px;
	font-size: 14px;
	color: #b3b3b3;
	cursor: pointer;
	border: 1px solid #e5e6e7;
	border-radius: 1px;
	transition: background-color 0.25s;
}

/* Lock icons inside label */
.override-switch-unchecked,
.override-switch-checked {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 1;
	text-align: center;
}

/* When Override-Switch is unchecked */
.override-switch:not(:checked) + label > .override-switch-checked {
	display: none;
}

/* When Override-Switch is checked */
.override-switch:checked + label {
	background-color: #3498db;
	color: #ffffff;
}

.override-switch:checked:not([disabled]) + label:hover {
	background-color: #72c5fd;
}

.override-switch:checked + label > .override-switch-unchecked {
	display: none;
}

.override-switch.no-label:checked + label > .override-switch-checked {
	display: block;
}
