input.labelauty + label ::selection {
	background-color: rgba(255, 255, 255, 0);
}
input.labelauty + label ::-moz-selection {
	background-color: rgba(255, 255, 255, 0);
}

input.labelauty {
	display: none !important;
}

input.labelauty + label {
	display: block;
	height: calc(1.5em + 0.75rem + 2px);
	margin-bottom: 0;
	font-size: 14px;
	padding: 10px;
	color: #b3b3b3;
	cursor: pointer;

	border: 1px solid #e5e6e7;
	border-radius: 1px;

	transition: background-color 0.25s;
}

/* Stylish text inside label */

input.labelauty + label > span.labelauty-unchecked,
input.labelauty + label > span.labelauty-checked {
	display: inline-block;
	line-height: 16px;
	vertical-align: middle;
}

/* Stylish icons inside label */

input.labelauty + label > span.labelauty-unchecked-image,
input.labelauty + label > span.labelauty-checked-image {
	display: block;
	width: 16px;
	height: 16px;
	line-height: 1;
	text-align: center;
}

/* When not Checked */
input.labelauty:not(:checked):not([disabled]) + label:hover {
	background-color: #eaeaea;
	color: #a7a7a7;
}
input.labelauty:not(:checked) + label > span.labelauty-checked-image {
	display: none;
}

input.labelauty:not(:checked) + label > span.labelauty-checked {
	display: none;
}

/* When Checked */
input.labelauty:checked + label {
	background-color: #3498db;
	color: #ffffff;
}

input.labelauty:checked:not([disabled]) + label:hover {
	background-color: #72c5fd;
}
input.labelauty:checked + label > span.labelauty-unchecked-image {
	display: none;
}

input.labelauty:checked + label > span.labelauty-unchecked {
	display: none;
}

input.labelauty:checked + label > span.labelauty-checked {
	display: inline-block;
}

input.labelauty.no-label:checked + label > span.labelauty-checked {
	display: block;
}
